.headd{
    background-color:#0076D6;
    color: white;
}

.container{
    padding-top: 65px;
}

@media (max-width: 414px){
    .container{
       padding-top: 20px;
    }
    
  } 

mat-card{
    border-radius: 10px 10px 10px 10px;
}



.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}