<app-header-public></app-header-public>
<br><br>
<div class="container">
    <div class="login-container">
      <mat-card>
  <mat-card-title class="headd text-center" style="font-size:35px;">
    เปลี่ยนรหัสผ่าน
  </mat-card-title>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <mat-card>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" placeholder="โปรดป้อนที่อยู่อีเมลของคุณ" id="email" [(ngModel)]="email" class="form-control"
                  required>
              </div>
              <button mat-raised-button color="accent" (click)="resetPassword()">Reset Password</button>
        </mat-card>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </mat-card>
<app-footer></app-footer>
</div>
</div>