<div class="main-header">
        <header class="masthead text-center text-white d-flex">
                <div class="container my-auto ">
                  <div class="row">
                    <div class="clearfix mx-auto ">
                      <h1 class="text">
                          <div class="jumbotron">
                       <strong style="font-size: 90px;  letter-spacing: 8px">ระบบใบพันธุ์ประวัติโคออนไลน์</strong><br>
                       <p style="font-size: 60px;">Cattle Pedigree Application Online</p>
                      </div>
                      </h1><br>
                    </div>
                    <div class="col-lg-8 mx-auto">
                      <a class="btn btn-primary btn-lg" routerLink="/news">ข่าวสาร NEWS</a>
                    </div>
                  </div>
                </div>
        </header>
</div><!-- END MAIN-HEADER -->