

<div class="grid-container">
    <mat-divider></mat-divider>
    <p>
        This is a simple starter and i used this tecnologies  
    </p>
    <mat-list>
        <mat-list-item><a href="https://angular.io/">Angular 6 </a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><a href="https://material.angular.io">Material Angular </a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><a href="https://firebase.google.com/">Firebase, (Realtime Database && Cloud Database Beta)</a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><a href="https://sass-lang.com/">Sass</a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><a href="https://www.npmjs.com/">Npm</a></mat-list-item>
    </mat-list>
    <p>I think the one of problem on angular is the structure of folders,  i created one by doing some research and you thought it would be nice as below.</p>
    <img src="../../../assets/img/structure_draw.png">
    <img src="../../../assets/img/structure.png">
    <h4>For more details go to <a href="https://github.com/kleviscipi/engine-personal-bank">GitHub</a></h4>
</div>