<mat-card class="top1">
    <mat-card-title class="headd text-center" style="font-size:35px;">
     บริการเก็บเงินปลายทาง
    </mat-card-title>
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4 text-center">
        <mat-card>
           <p>เก็บเงินปลายทาง</p> 
            <button mat-raised-button color="accent" (click)="openswel()">ยืนยันการสั่ง</button>
        </mat-card>
        </div>
        <div class="col-md-4">
        
          </div>
    </div>


  </mat-card>