.headd{
    background-color:#0076D6;
    color: white;
}

.mat-success{
    background-color: #0bb9a9;
    color: white;
}
.actionn{
    button{
        height: 1.5cm;
        width: 4cm;
        margin-top: 60px;
    }
}

.mat-form-field.mat-form-field {
    width:  8cm;
    height: 1cm;
  }

.cennn{
    text-align: center;
}

mat-card{
    border-radius: 10px 10px 10px 10px;
}

mat-card-title{
    border-radius: 10px 10px 10px 10px;
  }