<mat-card class="top1">
    <mat-card-title class="headd text-center" style="font-size:35px;">
      กรุณาเลือกธนาคารในบริการโมบายแบงก์กิ้ง
    </mat-card-title>
  
    <!-- mockkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk -->
    <div class="row">
      <div class="col-md-4">
        <mat-card class="iconnnc action-card"  matRipple class="rerer" tabindex="1" (click)="popup(2)" >
            <div class="cennr">
                <img src="/assets/icon/kasi.png" alt="kasi" height="40" width="40">
                    <a class="textedit">&nbsp;&nbsp;ธนาคารกสิกรไทย</a>
                  </div>
  
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="iconnnc action-card"  matRipple class="rerer" tabindex="1" (click)="popup(2)">
            <div class="cennr">
                <img src="/assets/icon/scb.png" alt="scb" height="40" width="40">
                    <a class="textedit">&nbsp;&nbsp;ธนาคารไทยพาณิชย์</a>
                  </div>
  
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card class="iconnnc action-card"  matRipple class="rerer" tabindex="1" (click)="popup(2)">
            <div class="cennr">
                <img src="/assets/icon/bangkok.png" alt="bangkok" height="40" width="40">
                    <a class="textedit">&nbsp;&nbsp;ธนาคารกรุงเทพ</a>
                  </div>
  
        </mat-card>
      </div>
    </div>
  
    <div class="row tewww">
      <div class="col-md-6">
        <mat-card class="iconnnc action-card"  matRipple class="rerer" tabindex="1" (click)="popup(2)">
            <div class="cennr">
                <img src="/assets/icon/icon-ktb.png" alt="icon-ktb" height="40" width="40">
                    <a class="textedit">&nbsp;&nbsp;ธนาคารกรุงไทย</a>
                  </div>
  
        </mat-card >
      </div>
      <div class="col-md-6">
        <mat-card class="iconnnc action-card"  matRipple class="rerer" tabindex="1" (click)="popup(2)">
            <div class="cennr">
                <img src="/assets/icon/ks.png" alt="ks" height="40" width="40">
                    <a class="textedit">&nbsp;&nbsp;ธนาคารกรุงศรี</a>
                  </div>
  
        </mat-card>
      </div>
    </div>
    <!-- mockkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk -->
  </mat-card>