.toolbar-container{
    max-width: 700px;
    margin: auto;
    padding: 19px;
    color: #03A9F4;
    font-weight: 700;
    font-size: 18px;
    .row-btn{
        float: right;
    }
}



.navbar{
    background-color: #003171;
}

.navbar-collapse{
    text-align: center;
}

mat-raised-button{
    height: 20px;
    width: 40px;
}