<mat-card style="margin-top: 75px" class="maincard">
    <mat-card-title class="headd2 text-center" style="font-size:35px;">
        <h1>จัดการรายการสั่งทำใบพันธุ์ประวัติโค</h1>
    </mat-card-title>
         <mat-tab-group>
            <mat-tab label="รายการที่อยู่ระหว่างรอการดำเนินการ">
                    <mat-card>
                            <div class="row textcc">
                                <div class="word">
                                    <p><strong>ค้นหาแบบคีย์เวิร์ด</strong></p>
                                </div>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <div>
                                        <mat-form-field  appearance="outline">
                                            <mat-label>ใส่คำที่ต้องการค้นหา</mat-label>
                                            <input matInput (keyup)="applyautoFilter($event.target.value)" placeholder="Search">
                                            <mat-icon matSuffix>search</mat-icon>
                                        </mat-form-field>
                                </div>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="word">
                                    <p><strong>ค้นหาโดยเลือกสายพันธุ์</strong></p>
                                </div>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                            <!-- select breed filter -->
                            <div class="padding">                              
                                        <select class="styled-select" (change)="applyFilter(aaa)" ngModel="ทั้งหมด" #aaa>
                                            <option value="ทั้งหมด">ทั้งหมด</option>
                                            <option value="บราห์มัน">บราห์มัน</option>
                                            <option value="ชาร์โรเลส์">ชาร์โรเลส์</option>
                                            <option value="แองกัส">แองกัส</option>
                                        </select>  
                            </div>
                            
                            

                            </div>
                           
                            
                            
                            <div *ngIf="dataSource && dataView=='table' ;else dataView=='table' && progressload" class="example-container mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource" matSort>
                                
                                    <ng-container matColumnDef="id" sticky>
                                        <th mat-header-cell *matHeaderCellDef><h3><strong>ลำดับที่</strong></h3>  </th>
                                        <td mat-cell *matCellDef="let row;let key = index"> {{key+1}} </td>
                                    </ng-container>

                                    <!-- <ng-container matColumnDef="status">
                                            <th mat-header-cell *matHeaderCellDef><h3><strong>สถานะ</strong></h3>  </th>
                                            <td mat-cell *matCellDef="let row" > {{row.status}} </td>
                                        </ng-container> -->
                
                                    <ng-container matColumnDef="breed">
                                        <th mat-header-cell *matHeaderCellDef><h3><strong>พันธุ์โค</strong></h3>  </th>
                                        <td mat-cell *matCellDef="let row"> {{row.breed}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="cattle_Id">
                                        <th mat-header-cell *matHeaderCellDef><h3><strong>รหัสประจำตัวโค</strong></h3>  </th>
                                        <td mat-cell *matCellDef="let row"> {{row.cattle_Id}} </td>
                                    </ng-container>
                
                                    
                                    <ng-container matColumnDef="cattle_Name">
                                        <th mat-header-cell *matHeaderCellDef> <h3><strong>ชื่อโค</strong></h3> </th>
                                        <td mat-cell *matCellDef="let row"> {{row.cattle_Name}} </td>
                                    </ng-container>
                
                                   
                                    <ng-container matColumnDef="membernameTH">
                                        <th mat-header-cell *matHeaderCellDef> <h3><strong>ชื่อผู้สั่งทำ</strong></h3> </th>
                                        <td mat-cell *matCellDef="let row"> {{row.membernameTH}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="status_payment">
                                            <th mat-header-cell *matHeaderCellDef> <h3><strong>สถานะการเงิน</strong></h3> </th>
                                            <td mat-cell *matCellDef="let row"> {{row.status_payment}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="date_of_delivery">
                                        <th mat-header-cell *matHeaderCellDef> <h3><strong>วันที่สั่งทำ</strong></h3> </th>
                                        <td mat-cell *matCellDef="let row"> {{row.date_of_delivery | date: 'dd-MMM-yyyy'}} </td>
                                    </ng-container>
                
                                    <ng-container matColumnDef="actions" >
                                            <th mat-header-cell *matHeaderCellDef> <h3><strong>เช็ครายละเอียด</strong></h3> </th>
                                            <td mat-cell *matCellDef="let row">
                                                <button mat-raised-button color="primary" (click)="openssDialog(row)">
                                                    <mat-icon>search</mat-icon>&nbsp; &nbsp; เช็ครายละเอียด
                                                </button>
                                            </td>
                                        </ng-container>

                                    <ng-container matColumnDef="update"  stickyEnd>
                                            <th mat-header-cell *matHeaderCellDef> <h3><strong>รับรายการ</strong></h3> </th>
                                            <td mat-cell *matCellDef="let row">
                                                <button mat-raised-button color="warn"  (click)="recieve(row)" >
                                                        รับรายการ
                                                    </button>
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>   
                        
                    </mat-card>
            </mat-tab>
            <mat-tab label="รายการที่อยู่ระหว่างการดำเนินการ"> 
                    <mat-card>
                        <div class="row textcc">
                            <div class="word">
                                <p><strong>ค้นหาแบบคีย์เวิร์ด</strong></p>
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <div>
                                    <mat-form-field  appearance="outline">
                                        <mat-label>ใส่คำที่ต้องการค้นหา</mat-label>
                                        <input matInput (keyup)="applyautoFilter2($event.target.value)" placeholder="Search">
                                        <mat-icon matSuffix>search</mat-icon>
                                    </mat-form-field>
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="word">
                                <p><strong>ค้นหาโดยเลือกสายพันธุ์</strong></p>
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="padding">                              
                                    <select class="styled-select"  (change)="applyFilter2(bbb)" ngModel="ทั้งหมด" #bbb>
                                        <option value="ทั้งหมด">ทั้งหมด</option>
                                        <option value="บราห์มัน">บราห์มัน</option>
                                        <option value="ชาร์โรเลส์">ชาร์โรเลส์</option>
                                    </select>  
                        </div>
                        </div>
                            
                            <div  *ngIf="dataSource2 && dataView=='table';else dataView=='table' && progressload" class="scrolltable mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource2" matSort>
                                    
        
                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef><h3><strong>ลำดับที่</strong></h3>  </th>
                                        <td mat-cell *matCellDef="let row; let key = index"> {{key+1}} </td>
                                    </ng-container>
                                    
                                    <!-- <ng-container matColumnDef="status">
                                            <th mat-header-cell *matHeaderCellDef><h3><strong>สถานะ</strong></h3>  </th>
                                            <td mat-cell *matCellDef="let row" > {{row.status}} </td>
                                        </ng-container> -->

                                    
                                    <ng-container matColumnDef="breed">
                                        <th mat-header-cell *matHeaderCellDef><h3><strong>พันธุ์โค</strong></h3>  </th>
                                        <td mat-cell *matCellDef="let row"> {{row.breed}} </td>
                                    </ng-container>
                
                                    
                                    <ng-container matColumnDef="cattle_Name">
                                        <th mat-header-cell *matHeaderCellDef> <h3><strong>ชื่อโค</strong></h3> </th>
                                        <td mat-cell *matCellDef="let row"> {{row.cattle_Name}} </td>
                                    </ng-container>
                
                                   
                                    <ng-container matColumnDef="membernameTH">
                                        <th mat-header-cell *matHeaderCellDef> <h3><strong>ชื่อผู้สั่งทำ</strong></h3> </th>
                                        <td mat-cell *matCellDef="let row"> {{row.membernameTH}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="status_payment">
                                            <th mat-header-cell *matHeaderCellDef> <h3><strong>สถานะการเงิน</strong></h3> </th>
                                            <td mat-cell *matCellDef="let row"> {{row.status_payment}} </td>
                                        </ng-container>
                
                                    <ng-container matColumnDef="date_of_delivery">
                                        <th mat-header-cell *matHeaderCellDef> <h3><strong>วันที่สั่งทำ</strong></h3> </th>
                                        <td mat-cell *matCellDef="let row"> {{row.date_of_delivery | date: 'dd-MMM-yyyy'}} </td>
                                    </ng-container>
                
                                    
                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef> <h3><strong>เช็ครายละเอียด</strong></h3> </th>
                                        <td mat-cell *matCellDef="let row">
                                            <button mat-raised-button color="primary" (click)="openssDialog(row)">
                                                <mat-icon>search</mat-icon>&nbsp; &nbsp; เช็ครายละเอียด
                                            </button>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="update">
                                            <th mat-header-cell *matHeaderCellDef> <h3><strong>อัปเดทรายการ</strong></h3> </th>
                                            <td mat-cell *matCellDef="let row">
                                                <button mat-raised-button color="warn" (click)="sending(row)">
                                                        จัดส่ง
                                                    </button>
                                            </td>
                                        </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                                </table> 
                        </div>
                    </mat-card>   
            </mat-tab>
            <mat-tab label="รายการที่อยู่ระหว่างการจัดส่ง"> 
                    <mat-card>
                        <div class="row textcc">
                            <div class="word">
                                <p><strong>ค้นหาแบบคีย์เวิร์ด</strong></p>
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <div>
                                    <mat-form-field  appearance="outline">
                                        <mat-label>ใส่คำที่ต้องการค้นหา</mat-label>
                                        <input matInput (keyup)="applyautoFilter3($event.target.value)" placeholder="Search">
                                        <mat-icon matSuffix>search</mat-icon>
                                    </mat-form-field>
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="word">
                                <p><strong>ค้นหาโดยเลือกสายพันธุ์</strong></p>
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="padding">                              
                                    <select class="styled-select"  (change)="applyFilter3(bbb)" ngModel="ทั้งหมด" #bbb>
                                        <option value="ทั้งหมด">ทั้งหมด</option>
                                        <option value="บราห์มัน">บราห์มัน</option>
                                        <option value="ชาร์โรเลส์">ชาร์โรเลส์</option>
                                    </select>  
                        </div>
                        </div>
                            
                            <div *ngIf="dataSource3 && dataView=='table';else dataView=='table' && progressload" class="scrolltable mat-elevation-z8">
                                <table mat-table [dataSource]="dataSource3" matSort>
                                    
                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef><h3><strong>ลำดับที่</strong></h3>  </th>
                                        <td mat-cell *matCellDef="let row;let key = index"> {{key+1}} </td>
                                    </ng-container>
                                    <!--                                     
                                    <ng-container matColumnDef="status">
                                            <th mat-header-cell *matHeaderCellDef><h3><strong>สถานะ</strong></h3>  </th>
                                            <td mat-cell *matCellDef="let row" > {{row.status}} </td>
                                        </ng-container> -->

                                    
                                    <ng-container matColumnDef="breed">
                                        <th mat-header-cell *matHeaderCellDef><h3><strong>พันธุ์โค</strong></h3>  </th>
                                        <td mat-cell *matCellDef="let row"> {{row.breed}} </td>
                                    </ng-container>
                
                                    
                                    <ng-container matColumnDef="cattle_Name">
                                        <th mat-header-cell *matHeaderCellDef> <h3><strong>ชื่อโค</strong></h3> </th>
                                        <td mat-cell *matCellDef="let row"> {{row.cattle_Name}} </td>
                                    </ng-container>
                
                                    
                                    <ng-container matColumnDef="membernameTH">
                                        <th mat-header-cell *matHeaderCellDef> <h3><strong>ชื่อผู้สั่งทำ</strong></h3> </th>
                                        <td mat-cell *matCellDef="let row"> {{row.membernameTH}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="status_payment">
                                            <th mat-header-cell *matHeaderCellDef> <h3><strong>สถานะการเงิน</strong></h3> </th>
                                            <td mat-cell *matCellDef="let row"> {{row.status_payment}} </td>
                                        </ng-container>
                
                                    <ng-container matColumnDef="date_of_delivery">
                                        <th mat-header-cell *matHeaderCellDef> <h3><strong>วันที่สั่งทำ</strong></h3> </th>
                                        <td mat-cell *matCellDef="let row"> {{row.date_of_delivery | date: 'dd-MMM-yyyy'}} </td>
                                    </ng-container>
                
                                    
                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef> <h3><strong>เช็ครายละเอียด</strong></h3> </th>
                                        <td mat-cell *matCellDef="let row">
                                            <button mat-raised-button color="primary" (click)="openssDialog(row)">
                                                <mat-icon>search</mat-icon>&nbsp; &nbsp; เช็ครายละเอียด
                                            </button>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="update">
                                            <th mat-header-cell *matHeaderCellDef> <h3><strong>อัปเดทรายการ</strong></h3> </th>
                                            <td mat-cell *matCellDef="let row">
                                                <button mat-raised-button color="warn" (click)="finished(row)">
                                                        เสร็จสิ้นการทำรายการ
                                                    </button>
                                            </td>
                                        </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
                                </table>
                            </div>   
                    </mat-card>     
            </mat-tab>
          </mat-tab-group>
                         
    </mat-card>