<mat-card class="settingtype">
    <mat-card-title class="headd text-center" style="font-size:35px;">ตั้งค่าสีโค</mat-card-title>
    <div *ngIf="dataSource && dataView=='table';else dataView=='table' && progressload"
        class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef><strong>ลำดับที่</strong></th>
                <td mat-cell *matCellDef="let setting;let key = index"> {{key+1}} </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="cattlename">
                <th mat-header-cell *matHeaderCellDef><strong>สายพันธุ์โค</strong></th>
                <td mat-cell *matCellDef="let setting"> {{setting.cattlename}} </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="colors">
                <th mat-header-cell *matHeaderCellDef><strong>สีโค</strong></th>
                <td mat-cell *matCellDef="let setting"> {{setting.colors}} </td>
            </ng-container>

            <!-- IMport Column -->
            <ng-container matColumnDef="hidden"  >
                <th mat-header-cell *matHeaderCellDef><strong>สถานะ</strong></th>
                <td mat-cell *matCellDef="let setting"> {{setting.hidden}} </td>
            </ng-container>

            <!-- Action-->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let setting">
                    <button mat-icon-button matTooltip="แก้ไข" (click)="openDialog2(setting)">
                        <mat-icon color="primary">edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="ลบออก" (click)="deleteSetting(setting.id)">
                        <mat-icon color="warn">delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let rsettingow; columns: displayedColumns;"></tr>
        </table>
    </div>
</mat-card>