<app-header-public></app-header-public>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('/assets/img/intro2.jpg')">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('/assets/img/intro3.jpg')">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('/assets/img/intro4.jpg')">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br>
  <br>
  <div class="container-fluid">
  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">ผุดแผนป้องกันโคเนื้อสูญพันธุ์!</h4>
        <div class="card-body">
          <p class="card-text">“กรมฯได้จัดทำโครงการดังกล่าวขึ้น โดยเป็นการดำเนินงานต่อจากโครงการระยะที่ 1 ที่ดำเนินการเมื่อปีที่ผ่านมา ที่ใช้งบประมาณ 100 ล้านบาท สามารถซื้อโคเนื้อให้เกษตรกรได้ 400 ราย”</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">อ่านค่อ</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">เกษตรกรทำเองไม่ง้อรัฐทำเจ๊ง</h4>
        <div class="card-body">
          <p class="card-text">สิทธิพร บุรณนัฎ ผู้จัดการสหกรณ์เครือข่ายโคเนื้อ จำกัด เล่าถึงที่มาของการรวมกลุ่มของสหกรณ์ผู้เลี้ยงโคเนื้อใน 5 จังหวัด นครปฐม, ราชบุรี, กาญจนบุรี, สุพรรณบุรี และชัยนาท เมื่อปี 2553 </p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">อ่านค่อ</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">ปศ.เดินหน้าโคบาลบูรพา</h4>
        <div class="card-body">
          <p class="card-text">“ขณะนี้มีเกษตรกรสนใจสมัครเข้าร่วมโครงการแล้ว 6,106 ราย ขั้นต่อไปกรมปศุสัตว์จะต้องจัดอบรมเตรียมความพร้อมให้กับเกษตรกรที่เข้าร่วมโครงการ ”</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">อ่านค่อ</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>