.top1 {    
    max-width: 97%;    
    margin: 3em auto;    
    margin-bottom: 4em;
    align-items: center;
    // background-image: url("/assets/img/ree.jpg") ;
    background-size: 2100px 1000px;
    height: 920px;
} 
.col{
  margin: 7px;
}

.mat-form-field{
  width: 8.4cm;
  height: 1cm;
  padding: 20px;
}

button {
   height: 4cm;
   width: 12cm;

   
}

.headd{
    background-color:#0076D6;
    color: white;
}


[hidden] {
  display: none;
}

mat-card-subtitle{
  font-size: 40px;
}

a{
  font-size: 50px;
}

.uiuiui{
  height: 790px;;
}

.iconnnc{
    height: 200px;;
}

.cennr{
    text-align: center;
}

.textedit{
    font-size: 25px;
    
}

.popup{
    margin-top: 15px;
    height: 450px;
}

.sunnn{
    height: 790px;
}

.blacee{
    float: right;
  }

  .testss{
      font-size: 40px;
  }