<mat-card-title class="headd text-center" style="font-size:35px;">
    สั่งทำใบพันธุ์ประวัติโคบราห์มัน
    <p>กรุณากรอกข้อมูลข้างล่างให้ครบถ้วน</p>
</mat-card-title>
<mat-tab-group #matgroup mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4 demo-tab-group">
    <mat-tab label="กรอกรายละเอียดโค">
        <div class="ddd">
            <div class="row">
                <div class="col-md-3 ssr1">

                </div>
                <div class="col-md-6">

                    <div class="row">
                        <label for="cattle_Name" class="col-sm-3 col-form-label">ชื่อโค</label>
                        <div class="col-sm-9">
                            <input class="form-control" name="cattle_Name" type="text" (keyup)="onChange($event)"
                                [(ngModel)]="order.cattle_Name" placeholder="ชื่อโค">
                        </div>
                    </div>

                    <div class="row">
                        <label for="cattle_Name" class="col-sm-3 col-form-label">เลขประจำตัวโค</label>
                        <div class="col-sm-9">
                            <input class="form-control" (keyup)="onChange($event)" [(ngModel)]="order.cattle_Id" name="cattle_Id"
                                type="text" placeholder="กรอกหมายเลขประจำตัวโค">
                        </div>
                    </div>

                    <div class="row">
                        <label for="breeding" class="col-sm-3 col-form-label" for="inputGroupSelect01" (keyup)="onChange($event)"
                            [(ngModel)]="order.breeding" name="breeding" type="text">การผสมพันธุ์</label>
                        <div class=" col-sm-9">
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>เลือกการผสมพันธุ์</option>
                                <option value="ผสมเทียม">ผสมเทียม</option>
                                <option value="ผสมธรรมชาติ">ผสมธรรมชาติ</option>
                                <option value="อุ้มบุญ">อุ้มบุญ</option>
                                <option value="ผสมหลอดแก้ว">ผสมหลอดแก้ว</option>
                            </select>
                        </div>
                    </div>

                    <!-- ข้าม datepicker -->
                    <div class="row">
                        <label for="date_of_birth" class="col-sm-3 col-form-label">วัน/เดือน/ปีเกิด</label>
                        <div class="col-sm-9">
                            <mat-form-field class="ssr3">
                                <input matInput (keyup)="onChange($event)" [matDatepicker]="picker" placeholder="เลือก วัน/เดือน/ปีเกิด"
                                    [(ngModel)]="order.date_of_birth" name="date_of_birth">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- ข้าม datepicker -->

                    <div class="row">
                        <label for="sex" class="col-sm-3 col-form-label" for="inputGroupSelect02" (keyup)="onChange($event)"
                            placeholder="เพศ" [(ngModel)]="order.sex" name="sex" type="text">เพศ</label>
                        <div class=" col-sm-9">
                            <select class="custom-select" id="inputGroupSelect02">
                                <option selected>เลือกเพศ</option>
                                <option value="เพศผู้">เพศผู้</option>
                                <option value="เพศเมีย">เพศเมีย</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <label for="color" class="col-sm-3 col-form-label" for="inputGroupSelect03" (keyup)="onChange($event)"
                            placeholder="สี" [(ngModel)]="order.color" name="color" type="text">สี</label>
                        <div class=" col-sm-9">
                            <select class="custom-select" id="inputGroupSelect03">
                                <option selected>เลือกสี</option>
                                <option value="สีแดง">สีแดง</option>
                                <option value="สีเทา">สีเทา</option>
                                <option value="สีขาว">สีขาว</option>
                                <option value="สีดำ">สีดำ</option>
                                <option value="สีน้ำเงิน">สีน้ำเงิน</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <label for="birth_weight" class="col-sm-3 col-form-label">น้ำหนักแรกเกิด</label>
                        <div class="col-sm-9">
                            <input class="form-control" (keyup)="onChange($event)" placeholder="กรอกน้ำหนักแรกเกิด"
                                [(ngModel)]="order.birth_weight" name="birth_weight" type="text">
                        </div>
                    </div>

                    <div class="row">
                        <label for="birth_chert" class="col-sm-3 col-form-label">รอบอกแรกเกิด</label>
                        <div class="col-sm-9">
                            <input class="form-control" (keyup)="onChange($event)" placeholder="กรอกรอบอก" [(ngModel)]="order.birth_chert"
                                name="birth_chert" type="text">
                        </div>
                    </div>

                    <!-- ข้าม datepicker -->
                    <div class="row">
                        <label for="date_of_wean" class="col-sm-3 col-form-label">วันหย่านม</label>
                        <div class="col-sm-9">
                            <mat-form-field class="ssr3">
                                <input matInput (keyup)="onChange($event)" [matDatepicker]="picker2" placeholder="วันหย่านม"
                                    [(ngModel)]="order.date_of_wean" name="date_of_wean">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- ข้าม datepicker -->

                    <div class="row">
                        <label for="wean_weight" class="col-sm-3 col-form-label">น้ำหนักวันหย่านม</label>
                        <div class="col-sm-9">
                            <input class="form-control" (keyup)="onChange($event)" placeholder="กรอกน้ำหนักวันหย่านม"
                                [(ngModel)]="order.wean_weight" name="wean_weight" type="text">
                        </div>
                    </div>

                    <div class="row">
                        <label for="wean_chert" class="col-sm-3 col-form-label">รอบออกวันหย่านม</label>
                        <div class="col-sm-9">
                            <input class="form-control" (keyup)="onChange($event)" placeholder="กรอกรอบออกวันหย่านม"
                                [(ngModel)]="order.wean_chert" name="wean_chert" type="text">
                        </div>
                    </div>

                    <div class="row">
                        <label for="hip_height" class="col-sm-3 col-form-label">ความสูงสะโพก</label>
                        <div class="col-sm-9">
                            <input class="form-control" (keyup)="onChange($event)" placeholder="กรอกความสูงสะโพก"
                                [(ngModel)]="order.hip_height" name="hip_height" type="text">
                        </div>
                    </div>

                    <!-------------------------- ไม่เอาทำไว้เก็บตัวแปรเฉย ------------------------------->
                    <mat-card class="text-center" hidden>
                        <!-- ช่องแรก -->
                        <mat-card-title class="text-center">
                            กรอกรายละเอียดสมาชิก
                        </mat-card-title>
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อสมาชิก</mat-label>
                            <input matInput (keyup)="onChange($event)" placeholder="ภาษาไทย" [(ngModel)]="order.membernameTH"
                                name="membernameTH" type="text">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อสมาชิก</mat-label>
                            <input matInput (keyup)="onChange($event)" placeholder="ภาษาอังกฤษ" [(ngModel)]="order.membernameEN"
                                name="membernameEN" type="text">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>ที่อยู่</mat-label>
                            <input matInput (keyup)="onChange($event)" placeholder="กรอกที่อยู่แบบละเอียด" [(ngModel)]="order.member_address"
                                name="member_address" type="text">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>ที่อยู่จัดสั่ง</mat-label>
                            <input matInput (keyup)="onChange($event)" placeholder="กรอกที่อยู่แบบละเอียด" [(ngModel)]="order.shippingaddress"
                                name="shippingaddress" type="text">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>เบอร์โทร</mat-label>
                            <input matInput (keyup)="onChange($event)" placeholder="กรอกเบอร์โทร" [(ngModel)]="order.member_tel"
                                name="member_tel" type="text">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>เลขที่สมาชิก</mat-label>
                            <input matInput (keyup)="onChange($event)" placeholder="(สามัญ/วิสามัญ)" [(ngModel)]="order.member_ID"
                                name="member_ID" type="text">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>ชื่อฟาร์ม</mat-label>
                            <input matInput (keyup)="onChange($event)" placeholder="กรอกชื่อฟาร์ม" [(ngModel)]="order.farm_Name"
                                name="farm_Name" type="text">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>เครื่องหมายฟาร์ม</mat-label>
                            <input matInput (keyup)="onChange($event)" placeholder="กรอกเครื่องหมายฟาร์ม" [(ngModel)]="order.farm_Logo"
                                name="farm_Logo" type="text">
                        </mat-form-field>
                    </mat-card>
                    <!-------------------------- ไม่เอาทำไว้เก็บตัวแปรเฉย ------------------------------->
                </div>

                <div class="col-md-3">

                </div>
            </div>
            <div class="upcard text-center">
                <button type="button" mat-raised-button color="primary" (click)="selectNext(matgroup)">ต่อไป</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="กรอกรายละเอียดเคลือ">
        <div class="ddd">

            <div class="row">
                <div class="col-12 col-md-8"></div>
                <div class="col-6 col-md-4">.col-6 .col-md-4</div>
            </div>

            <div class="row">
                <div class="col-4"></div>
                <div class="col-8">.col-6</div>
            </div>

            <div class="row">
                <div class="col-12 col-md-8"></div>
                <div class="col-6 col-md-4">.col-6 .col-md-4</div>
            </div>

            <div class="row">
                <div class="col-6 col-md-6">
                    <!-- พ่อ  -->
                    <div class="row">
                        <label for="fa_Name" class="col-sm-3 col-form-label">พ่อพันธุ์</label>
                        <div class="col-sm-5">
                            <input class="form-control" (keyup)="onChange($event)" placeholder="กรอกชื่อพ่อพันธุ์"
                                [(ngModel)]="order.fa_Name" name="fa_Name" type="text">
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" (keyup)="onChange($event)" placeholder="กรอกเลขทะเบียนพ่อโค"
                                [(ngModel)]="order.fa_Id" name="fa_Id" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3"></div>
                <div class="col-6 col-md-3"></div>
            </div>

            <div class="row">
                <div class="col-12 col-md-8"></div>
                <div class="col-6 col-md-4">.col-6 .col-md-4</div>
            </div>

            <div class="row">
                <div class="col-4"></div>
                <div class="col-8">.col-6</div>
            </div>

            <div class="row">
                <div class="col-12 col-md-8"></div>
                <div class="col-6 col-md-4">.col-6 .col-md-4</div>
            </div>

            <!-- ------------------------------------------------------------ -->
            <br>
            <div class="row">
                <div class="col-12 col-md-8"></div>
                <div class="col-6 col-md-4">.col-6 .col-md-4</div>
            </div>

            <div class="row">
                <div class="col-4"></div>
                <div class="col-8">.col-6</div>
            </div>

            <div class="row">
                <div class="col-12 col-md-8"></div>
                <div class="col-6 col-md-4">.col-6 .col-md-4</div>
            </div>

            <div class="row">
                <div class="col-6 col-md-6">
                    <!-- แม่  -->
                    <div class="row">
                        <label for="fa_Name" class="col-sm-3 col-form-label">แม่พันธุ์</label>
                        <div class="col-sm-5">
                            <input class="form-control" (keyup)="onChange($event)" placeholder="กรอกชื่อแม่พันธุ์"
                                [(ngModel)]="order.ma_Name" name="ma_Name" type="text">
                        </div>
                        <div class="col-sm-4">
                            <input class="form-control" (keyup)="onChange($event)" placeholder="กรอกเลขทะเบียนแม่โค"
                                [(ngModel)]="order.ma_Id" name="ma_Id" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3"></div>
                <div class="col-6 col-md-3"></div>
            </div>

            <div class="row">
                <div class="col-12 col-md-8"></div>
                <div class="col-6 col-md-4">.col-6 .col-md-4</div>
            </div>

            <div class="row">
                <div class="col-4"></div>
                <div class="col-8">.col-6</div>
            </div>

            <div class="row">
                <div class="col-12 col-md-8"></div>
                <div class="col-6 col-md-4">.col-6 .col-md-4</div>
            </div>

            <div class="text-center">
                <button type="button" mat-raised-button color="primary" (click)="selectNext(matgroup)">ต่อไป</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="อัพโหลดเอกสารและรูปโค">
        <div class="ddd">
            <div class="row">
                <div class="col-md-4">
                        <mat-card class="eer1 text-center">
                                <!-- ช่องแรก -->
                                <mat-card-title class=" headd  text-center">
                                    อัพโหลดรูปโค
                                </mat-card-title>
                                <img src="{{ imageUrl }}" width="cover" height="190">
                
                                <div class="boooo">
                                    <input class="upupup" type="file" (change)="onFileSelection($event)" placeholder="Upload a file">
                                </div>
                            </mat-card>
                </div>
                <div class="col-md-4">
                        <mat-card class="eer1 text-center">
                                <!-- ช่องแรก -->
                                <mat-card-title class=" headd  text-center">
                                    อัพโหลดรูปหลอดน้ำเชื้อโค
                                </mat-card-title>
                                <img src="{{ imageUrl }}" width="cover" height="190">
                
                                <div class="boooo">
                                    <input class="upupup" type="file" (change)="onFileSelection($event)" placeholder="Upload a file">
                                </div>
                            </mat-card>
                </div>
                <div class="col-md-4">
                        <mat-card class="eer1 text-center">
                                <!-- ช่องแรก -->
                                <mat-card-title class=" headd  text-center">
                                    อัพโหลดสำเนาสำเนาใบเพ็ดพ่อพร้อมหลอดน้ำเชื้อ
                                </mat-card-title>
                                <img src="{{ imageUrl }}" width="cover" height="190">
                
                                <div class="boooo">
                                    <input class="upupup" type="file" (change)="onFileSelection($event)" placeholder="Upload a file">
                                </div>
                            </mat-card>
                </div>
            </div>
            
            <div class="text-center">
                <div *ngIf="!order.id;else updateorderid ">
                    <button mat-raised-button (click)="saveOrder() || nextpage() " [mat-dialog-close]="order"
                        cdkFocusInitial color="success">สั่งทำ</button>
                </div>
                <ng-template #updateorderid>
                    <button (click)="updateOrder()" mat-button cdkFocusInitial color="success">Update</button>
                </ng-template>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>

<!-- 
    <mat-form-field class="fill1" appearance="outline">
        <mat-label>ชื่อแม่พันธุ์</mat-label>
        <input matInput (keyup)="onChange($event)" placeholder="กรอกชื่อแม่พันธุ์" [(ngModel)]="order.ma_Name"
            name="ma_Name" type="text">
    </mat-form-field>
    <mat-form-field class="fill1" appearance="outline">
        <mat-label>เลขทะเบียนแม่โค</mat-label>
        <input matInput (keyup)="onChange($event)" placeholder="กรอกเลขทะเบียนแม่โค" [(ngModel)]="order.ma_Id"
            name="ma_Id" type="text">
    </mat-form-field><br>
    <mat-form-field appearance="outline">
        <mat-label>ผู้บำรุงพันธุ์(ฺBreeder)</mat-label>
        <input matInput (keyup)="onChange($event)" placeholder="กรอกผู้บำรุงพันธุ์" [(ngModel)]="order.breeder"
            name="breeder" type="text">
    </mat-form-field><br>
    <mat-form-field appearance="outline">
        <mat-label>เจ้าของโค(ฺOwner)</mat-label>
        <input matInput (keyup)="onChange($event)" placeholder="กรอกเจ้าของโค" [(ngModel)]="order.owner_name"
            name="owner_name" type="text">
    </mat-form-field> -->