
<div class="login-container">

    <h1 class="text-center">Login</h1>

    <mat-form-field class="example-full-width">
      <input  (keyup)="onChange($event)" type="email" name="email"  matInput placeholder="Email" [formControl]="emailFormControl"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input  minlength="4" (keyup)="onChange($event)" type="password" name="password" matInput placeholder="Password" [formControl]="passwordFormControl"
             [errorStateMatcher]="matcher">
        <mat-error *ngIf="passwordFormControl.hasError('required') ">
            Password is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <div class="button-row text-right">
        <button (click)="loginGoogle()" mat-raised-button color="accent">Login With Google</button>
        <button (click)="login()" mat-raised-button color="primary">Login</button>
    </div>
    <p>If dont'n have an account , Create One. <a href="/singup" mat-raised-butto>SingUp</a> </p>
    <app-footer></app-footer>
</div>