<h1 mat-dialog-title> Insert a new invoice.</h1>
<div mat-dialog-content>
  <p>Please fill the inputs below.</p>
    <mat-form-field>
        <input matInput (keyup)="onChange($event)" placeholder="Title"  [(ngModel)]="invoice.title" name="title" type="text">
    </mat-form-field>
    <mat-form-field>
        <input matInput (keyup)="onChange($event)" placeholder="Import"  [(ngModel)]="invoice.import" name="import" type="number">
    </mat-form-field>
</div>
<div class="pull-right" mat-dialog-actions>
    <div *ngIf="!invoice.id;else updateinvoiceid ">
        <button  (click)="saveInvoice()" mat-button [mat-dialog-close]="invoice" cdkFocusInitial color="success">Save</button>
    </div>
    <ng-template #updateinvoiceid>
        <button  (click)="updateInvoice()" mat-button [mat-dialog-close]="invoice" cdkFocusInitial color="success">Update</button>
    </ng-template>
</div>
