
table.mat-table {
    width: 100%;
    text-align: center;
}

.mat-header-cell{
    text-align: center;
    font-size: 20px;
}
.mat-cell{
    font-size: 15px;
}

.headd{
    background-color:#0076D6;
    color: white;
}
.mat-form-field{
    width: 7cm;
}

.example-container {
    height: 530px;
    overflow: auto;
  }


