
.headd{
    background-color:#0076D6;
    color: white;
}

.headd1{
    background-color:#0076D6;
    color: white;
   padding-top: 10px;
}

.headd2{
    background-color:#0076D6;
    color: white;
    font-size: 10px;
}

.hightt{
    height: 710px;
}

.blacee{
    float: right;
}

.hittt{
    height: 240px;
    background-image: url("/assets/img/address1.png") ;
}

.mat-success{
    background-color: #0bb9a9;
    color: white;
}

.boorrr{
    margin-top: 100px;
}

mat-card{
    border-radius: 10px 10px 10px 10px;
}

button{
    border-radius: 10px 10px 10px 10px;
}

mat-card-title{
    border-radius: 20px 20px 20px 20px;
  }



.memberlist{
    height: 610px;
    overflow-y: scroll;
}

.ssssss{
    margin-right: 5px;
    margin-left: 5px;
}

.addd{
  margin-bottom: 10px;
}
