.cennr{
    text-align: center;
}

.hidden {
    display: none;
}





.headd{
    background-color:#0076D6;
    color: white;
}


[hidden] {
  display: none;
}






.iconnnc{
    height: 50px;;
}
.tewww{
margin-top: 15px;
    
}


