<mat-card  class="testes">
    <mat-card-title class="headd text-center" style="font-size:35px;">
        ยืนยันการชำระเงิน
        </mat-card-title>
        <div class="text-center">
            <p><strong>โอนเงินของท่านมาที่</strong></p>
          </div>
         <p><strong>เลขที่บัญชี</strong><span class="spann">&nbsp;&nbsp;{{setting.bookbank3}}</span></p>
         <p><strong>ประเภทบัญชี</strong><span class="spann">&nbsp;&nbsp;{{setting.bookbank_type3}}</span></p>
         <hr>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <div class="text-center">
         <button mat-raised-button color="accent" (click)="openswel()">ยืนยันการสั่ง</button>
        </div>

</mat-card>