.hidden {
    display: none;
}
// .top1 {    
//     max-width: 97%;    
//     margin: 0.5em auto;    
//     align-items: center;
// } 


.mat-form-field{
  width: 8.4cm;
  height: 1cm;
  padding: 20px;
}

button {
   height: 1.5cm;
   width: 3.5cm;
}

.headd{
    background-color:#0076D6;
    color: white;
}

mat-card{
    border-radius: 10px 10px 10px 10px;
}

button{
    border-radius: 10px 10px 10px 10px;
}

