<div class="text-center">
            <div class="row" >
                <mat-card class="col-sm-2 ssr text-center " [hidden]="setting.hidden1">
                    <mat-card-title class="text-center">
                        บราห์มัน
                    </mat-card-title>
                    <img mat-card-image src="/assets/img/01.PNG" alt="บราห์มัน"  >
                    <mat-card-actions>
                        <button color="success-dialog" mat-raised-button color="accent" [mat-dialog-close]="order" (click)="openDialog(null)">เลือก</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="col-sm-2 ssr text-center"   [hidden]="setting.hidden" >
                    <mat-card-title class="text-center">
                        แองกัส
                    </mat-card-title>
                    <img mat-card-image src="/assets/img/02.PNG" alt="แองกัส">
                    <mat-card-actions>
                        <button color="success-dialog" mat-raised-button color="accent" [mat-dialog-close]="order" (click)="openDialog1(null)">เลือก</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="col-sm-2 ssr text-center" [hidden]="setting.hidden2"  >
                    <mat-card-title class="text-center">
                        ชาร์โรเล่ส์
                    </mat-card-title>
                    <img mat-card-image src="/assets/img/03.PNG" alt="ชาร์โรเล่ส์">
                    <mat-card-actions>
                        <button color="success-dialog" mat-raised-button color="accent" [mat-dialog-close]="order" (click)="openDialog2(null)">เลือก</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="col-sm-2 ssr text-center"   [hidden]="setting.hidden3"  >
                    <mat-card-title class="text-center"  >
                        บีฟมาสเตอร์
                    </mat-card-title>
                    <img mat-card-image src="/assets/img/04.PNG" alt="บีฟมาสเตอร์">
                    <mat-card-actions>
                        <button color="success-dialog" mat-raised-button color="accent" [mat-dialog-close]="order" (click)="openDialog3(null)">เลือก</button>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="col-sm-2 ssr text-center" [hidden]="setting.hidden4">
                    <mat-card-title class="text-center">
                        ตาก
                    </mat-card-title>
                    <img mat-card-image src="/assets/img/05.PNG" alt="ตาก">
                    <mat-card-actions>
                        <button color="success-dialog" mat-raised-button color="accent" [mat-dialog-close]="order" (click)="openDialog4(null)">เลือก</button>
                    </mat-card-actions>
                </mat-card>
                    <mat-card class="col-sm-2 ssr text-center" [hidden]="setting.hidden5">
                        <mat-card-title class="text-center">
                            กำแพงแสน
                        </mat-card-title>
                        <img mat-card-image src="/assets/img/66.jpg" alt="กำแพง">
                        <mat-card-actions>
                            <button color="success-dialog" mat-raised-button color="accent" [mat-dialog-close]="order" (click)="openDialog5(null)">เลือก</button>
                        </mat-card-actions>
                    </mat-card>
        </div>
</div>