// html,body{
//     background-image: url("/assets/img/ddddsc.jpg");
//     background-repeat: no-repeat;
//     background-size: 1920px 1080px ;
    
//  }

.headd{
    background-color:#0076D6;
    color: white;

}

.hedddd{
    margin-bottom: 70px;
}

.main-card{
    max-width: 1500px;
    margin:auto;
    display: flex;
    border-radius: 10px 10px 10px 10px;
    flex-direction: column;
    > *{
        width: 100%;
        height: 70%;
    }
}

mat-form-field {
    width: 100%;
    font-size: 10px;
}

@media (max-width: 414px){
    .main-card{
        margin: 15px;
        display: flex;
        border-radius: 10px 10px 10px 10px;
        flex-direction: column;
        > *{
            width: 100%;
            height: 70%;
        }
    }
    .fff{
        display: none;
    }
}

mat-tab-group{
    border-radius: 10px 10px 10px 10px;
}

.ddd{
    margin: 20px;
}

.idcard{
    height: 530px;
}

.regiter{
    height: 416px;
}

.main-header {
    background-image: url(/assets/img/intro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
		height: 90%;
	  opacity: 0.80;
}

.sser{
    margin-top: 15px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .upladess{
    text-align: center;
    position: absolute;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    left: 0px;
    right: 0px;
  }

