// html,body{
//     background-image: url("/assets/img/ddddsc.jpg");
//     background-repeat: no-repeat;
//     background-size: 1920px 1080px ;
    
//  }

.headd{
    background-color:#0076D6;
    color: white;

}

.hedddd{
    margin-bottom: 70px;
}

.main-card{
    max-width: 1500px;
    margin:auto;
    display: flex;
    border-radius: 10px 10px 10px 10px;
    flex-direction: column;
    > *{
        width: 100%;
        height: 70%;
    }
}

mat-form-field {
    width: 100%;
    font-size: 10px;
}

@media (max-width: 414px){
    .main-card{
        margin: 15px;
        display: flex;
        border-radius: 10px 10px 10px 10px;
        flex-direction: column;
        > *{
            width: 100%;
            height: 70%;
        }
    }
    .fff{
        display: none;
    }
}

mat-tab-group{
    border-radius: 10px 10px 10px 10px;
}

.ddd{
    margin: 20px;
}

.idcard{
    height: 530px;
}

.regiter{
    height: 416px;
}

.main-header {
    background-image: url(/assets/img/intro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
		height: 90%;
	  opacity: 0.80;
}