.snack-message-success{
    margin-top: 50px;
    color: rgb(0, 129, 11);
    font-size: 20px;
    text-align: center;
}

.snack-message-error{
    margin-top: 50px;
    color: rgb(255, 0, 0);
    font-size: 20px;
    text-align: center;
}