table{
    width: 100%;
    text-align: center;
}
.headd{
    background-color:#0076D6;
    color: white;
}
.mat-header-cell{
    text-align: center;
    color: blue;
}
.mat-cell
{
    text-align: center;
    font-size: 20px;
}

.headd2{
    background-color:#0076D6;
    color: white;
}
.headd3{
    background-color:#0076D6;
    color: white;
}
.subut{
    margin-left: 12cm;
    margin-top: -2cm;
    padding-right: 1cm;
    padding-left: 1cm;
    padding-bottom: 0.3cm;
    padding-top: 0.3cm;
}
.subut1{
    margin-left: 25cm;
    padding-right: 1cm;
    padding-left: 1cm;
    padding-bottom: 0.3cm;
    padding-top: 0.3cm;
}

mat-card{
    margin-bottom: 75px;
}


.maincard{
    height: 800px;
}

.textcc{
    margin-left: 2cm;
}



.word{
    padding-top: 25px;
}

.styled-select{
    
    width: 200px;
    height: 60px;
    border: 1px solid blue;
    border-radius: 10px;
}

.padding{
    padding-top: 10px;
}

.scrolltable{
    height: 480px;
    overflow: auto;
}

.expdf{
    margin-left: 10cm; 
}