@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
  font-family: FCLamoon;
  src: url(assets/font/FCLamoon/FCLamoon.otf);
}
@font-face {
  font-family: DB-Adman-X;
  src: url(assets/fonts/DB-Adman-X.ttf);
}
*{
  font-family: DB-Adman-X;
  font-size: 20px;
}
html, body { height: 100%; }
body { margin: 0; }

/* Master Styles */
.grid-container {
  margin: 20px;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}

.pull-right{
  float: right; 

}
.pull-left{
    float: left;  
}
.pull-center{
  float: center; 

}
