.headd{
    background-color:#0076D6;
    color: white;
}

.mat-success{
    background-color: #0bb9a9;
    color: white;
}
.actionn{
    button{
        height: 1.5cm;
        width: 4cm;
        margin-top: 30px;
    }
}

.mat-form-field.mat-form-field {
    height: 1cm;
  }

  .example-full-width{
      width: 7cm;

  }


.cennn{
    text-align: center;
    padding-bottom: 10px;
}


[hidden] {
    display: none;
  }

  strong{
      font-size: 30px;
  }

  .bootoom{
     padding: 20px;

  }

  .colore1{
      background-color: #ffffff;
  }

  .colore2{
    background-color: #ffffff;

  }

  .colore3{
    background-color: #ffffff;
}

.colore4{
    background-color: #ffffff;

}



.orderlist{
    height: 512px;
    overflow-y: scroll;
    padding-right: 15px;
    
}

mat-card{
    border-radius: 10px 10px 10px 10px;
}

mat-card-title{
    border-radius: 10px 10px 10px 10px;
  }


  
  