.mat-card {    
    margin: 0.5em auto;    
    align-items: center;
  } 
  
  .photoo{
    height: 18.6cm;
  }
  
  .phooo{
    text-align: center;
    width: 4cm;
    height: 5cm;
    padding: 0px;
    padding-top: 5px;
  
  }
  .upupup{
    text-align: center;
    font-size: 10px;
  }

 
  .mat-success{
    background-color: #0bb9a9;
    color: white;
}

.top2{
  background-color:#0076D6;
    color: white;
    font-family: FCLamoon;
    font-size: 50px;
    padding-top: 15px;
}

button {
   height: 1.6cm;
   width: 3.5cm;

}

.mat-form-field.mat-form-field {
    width:  7cm ;
    height: 1cm;
    padding: 20px;
  }

  .longgg{
    .mat-form-field.mat-form-field {
      width:  15cm ;
      height: 1cm;
      padding: 20px;
    }
  }

.headd{
  background-color:#0076D6;
    color: white;
}

.actionn{
  margin-top: 40px;
}

// .eer{
//     margin: 19px;
// }

.rrr{
  height: 800px;
}

// .dddd{
//   text-align: center;
// }

.ddd2{
  height: 250px;
  
}

.blacee{
  float: right;
}

mat-card{
  border-radius: 10px 10px 10px 10px;
  
}

mat-card-title{
  border-radius: 20px 20px 20px 20px;
}
